{% extends 'base.html' %}

{% block title %}Recipe{% endblock %}

{% block content %}
    <div class="recipe-page-head">
        <h3>Embark on a gastronomic adventure as your chosen recipes come to life, readily accessible and awaiting your culinary mastery at the tap of your fingertip.</h3>
    </div>
    <div id="recipe-container">
        {% for recipe in recipes %}

        <div class="recipe-div1">
            <img src="{{ recipe.recipe.image }}" alt="{{ recipe.recipe.label }}">
            <div class="recipe">
                <div class="ingredients-container">
                    <h2>{{ recipe.recipe.label }}</h2>
                    <div class="recipe-ingre">
                        <h3>Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.recipe.ingredients %}
                                <li>
                                    <div class="ingredient">
                                        <div class="ingredient-image">
                                            <img src="{{ ingredient.image }}" alt="{{ ingredient.food }}">
                                        </div>
                                        <div class="ingredient-details">
                                            <p>{{ ingredient.food }}</p>
                                            <p><em>{{ ingredient.text }}</em></p>
                                            <p>Weight: {{ ingredient.weight }} grams</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="cal-serv">
                        <p>Calories: {{ recipe.recipe.calories }}</p>
                        <p>Servings: {{ recipe.recipe.yield }}</p>
                        <p>Link: <a href="{{ recipe.recipe.url }}" target="_blank">View Recipe</a></p>
                    </div>
                </div>
            
            </div>
        </div>
        {% endfor %}
    </div>

    
{% endblock %}
