{% extends 'base.html' %}

{% block title %}Add Recipe{% endblock %}

{% block content %}
    <h2>Add Recipe</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}: {{ form.title() }}
        </div>
        <div>
            {{ form.image_url.label }}: {{ form.image_url() }}
        </div>
        <div>
            {{ form.source_name.label }}: {{ form.source_name() }}
        </div>
        <div>
            {{ form.source_url.label }}: {{ form.source_url() }}
        </div>
        <div>
            {{ form.servings.label }}: {{ form.servings() }}
        </div>
        <div>
            <div id="ingredients">
                <h4>Ingredients</h4>
                {% for ingredient_form in form.ingredients %}
                    <div class="ingredient">
                        {{ ingredient_form.title.label }}: {{ ingredient_form.title }}
                        {{ ingredient_form.quantity.label }}: {{ ingredient_form.quantity }}
                        {{ ingredient_form.measure.label }}: {{ ingredient_form.measure}}
                        <button type="button" class="btn btn-danger btn-sm delete-ingredient"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-ingredient">Add Ingredient</button>
        </div>
        <div>
            {{ form.calories.label }}: {{ form.calories() }}
        </div>
        <div>
            {{ form.total_fat.label }}: {{ form.total_fat() }}
        </div>
        <div>
            {{ form.cholesterol.label }}: {{ form.cholesterol() }}
        </div>
        <div>
            {{ form.sodium.label }}: {{ form.sodium() }}
        </div>
        <div>
            {{ form.total_carbohydrates.label }}: {{ form.total_carbohydrates() }}
        </div>
        <div>
            {{ form.protein.label }}: {{ form.protein() }}
        </div>
        <div>
            <button type="submit">Create Recipe</button>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('add-ingredient').addEventListener('click', function() {
                const ingredientsDiv = document.getElementById('ingredients');
                const ingredientCount = ingredientsDiv.children.length;
    
                const ingredientDiv = document.createElement('div');
                ingredientDiv.classList.add('ingredient');
                ingredientDiv.innerHTML = `
                    <label for="ingredients-${ingredientCount}-title">Title:</label>
                    <input type="text" name="ingredients-${ingredientCount}-title">
                    <label for="ingredients-${ingredientCount}-quantity">Quantity:</label>
                    <input type="text" name="ingredients-${ingredientCount}-quantity">
                    <label for="ingredients-${ingredientCount}-measure">Measure:</label>
                    <input type="text" name="ingredients-${ingredientCount}-measure">
                    <button type="button" class="btn btn-danger btn-sm delete-ingredient"><i class="fa-solid fa-delete-left"></i></button>
                `;
                ingredientsDiv.appendChild(ingredientDiv);
            });
            document.addEventListener('click', function(event) {
            if (event.target.classList.contains('delete-ingredient')) {
                const ingredientDiv = event.target.parentElement;
                ingredientDiv.remove();
            }
        });
        });
    </script>
{% endblock %}