{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="banner">
        <div class="banner-words">
            <h1 class="banner-h1">
                <span class="banner-span1">Every Flavor,</span>
                <br>
                <span>A Delicate</span>
            <span class="banner-span2">Sensation</span>
            </h1>
            <p class="banner-p">
                Explore a world of recipes and effortlessly plan your meals with our intuitive platform, designed to simplify your culinary journey.
            </p>
            <a href="{{ url_for('login') }}" class="btn ">Explore <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <img src="{{ url_for('static', filename='banner.png') }}" class="img-fluid" alt="Home">
    </div>
</div>


    <div class="head1">
        <h1>Simple recipe for your better, healthy everyday! </h1>
        <a href="#recipe-div" class="btn"><i class="fa-solid fa-angles-down"></i></a>
    </div>

    <div class="search-div">
        <form class="form-inline my-2 my-lg-0" action="/search-recipes" method="GET">
            <input class="search-input" type="search" name="q" placeholder="Search Recipe" aria-label="Search">
            <button class="btn  my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
           
   
    <div  id="res" class="container">
        <div id="recipe-div">
            <div class="recipe-left">
                <img src="https://previews.123rf.com/images/anaumenko/anaumenko1604/anaumenko160400216/56078847-traditional-american-breakfast-white-background-copy-space.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Breakfast</h5>
                    <p class="card-text">Start your day with a healthy breakfast. </p>
                    <a href="{{ url_for('get_recipes', mealType='Breakfast') }}" class="btn btn-primary">View Recipes</a>
                </div>  
            </div>
        
        
            <div class="recipe-right">
               
                <div class="card-body">
                    <h5 class="card-title">Lunch</h5>
                    <p class="card-text">Healthy lunch ideas for you. </p>
                    <a href="{{ url_for('get_recipes', mealType='Lunch') }}" class="btn btn-primary">View Recipes</a>
                </div>
                <img src="https://media.istockphoto.com/id/1321195603/photo/people-having-balanced-diet-from-lunch-boxes.jpg?s=612x612&w=0&k=20&c=yieHclin0zByT8mXbK1x7dlf_4bG6yqeBRszUjyYBbc=" class="card-img-top" alt="...">
            </div>  
        
        
            <div class="recipe-left">
                <img src="https://media.istockphoto.com/id/1283716743/photo/family-enjoying-dinner-above-view.jpg?s=612x612&w=0&k=20&c=y_sZoY0PStw7AjaNJQtdE2HTQE7nTPpzOrbsTcIthNQ=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dinner</h5>
                    <p class="card-text">Healthy dinner ideas for you. </p>
                    <a href="{{ url_for('get_recipes', mealType='Dinner') }}" class="btn btn-primary">View Recipes</a>
                </div>
            </div>
        
    
        
            <div class="recipe-right">
              
                <div class="card-body">
                    <h5 class="card-title">Snacks</h5>
                    <p class="card-text">Healthy snacks ideas for you. </p>
                    <a href="{{ url_for('get_recipes', mealType='snacks') }}" class="btn btn-primary">View Recipes</a>
                </div>
                <img src="https://images.pexels.com/photos/298217/pexels-photo-298217.jpeg?cs=srgb&dl=pexels-leigh-patrick-14477-298217.jpg&fm=jpg" class="card-img-top" alt="...">
            </div>
        
        
            <div class="recipe-left">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr68eNtQwVo1WXxv-MVxQYx1sNovM2v-aok6OTXLD3Ng&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Desserts</h5>
                    <p class="card-text">Healthy dessert ideas for you. </p>
                    <a href="{{ url_for('get_recipes_', dishType='Desserts') }}" class="btn btn-primary">View Recipes</a>
                </div>
            </div>
        
        
            <div class="recipe-right">
                
                <div class="card-body">
                    <h5 class="card-title">Drinks</h5>
                    <p class="card-text">Healthy drink ideas for you. </p>
                    <a href="{{ url_for('get_recipes_', dishType='Drinks') }}" class="btn btn-primary">View Recipes</a>
                </div>
                <img src="https://img.freepik.com/free-photo/fresh-cocktails-with-ice-lemon-lime-fruits-generative-ai_188544-12370.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1714262400&semt=ais" class="card-img-top" alt="...">
            </div>
        </div>  
    </div>
    <div class="Your-Recipe">
        <div class="container">
            <div class="user-res-head">
                <h1> Your Recipe</h1>
                <a href="{{ url_for('create_recipe') }}" class="btn"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="your-res-div">
                {% for recipe in user.recipes %}
                    
                        <div class="user-res-card">
                            <img src="{{ recipe.image_url }}" class="card-img-top" alt="...">
                            <div class="user-card-body">
                                <div class="user-res-name">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                    <p class="card-text">{{ recipe.source_name }}</p>
                                </div>
                                <div class="user-res-edit">
                                    <a href="{{ recipe.source_url }}" class="btn ">Source</a>
                                    <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn "><i class="fa-solid fa-eye"></i></a>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn "><i class="fa-solid fa-pencil"></i></a>    
                                </div>
                            </div>
                        </div>
                    
                {% endfor %}
            </div>
        </div>
       


    </div>

  
   
{% endblock %}